doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title ToDoList 
        link(rel="stylesheet", href="./style/main.css")
    body 
    header 
     h1 hello !! welcom to my To Do List
    div.container
     div.todo  
          h2 TO-DO LIST 
            img(src="./image/todolist.png")
       
          div.row
           form(action="/add/" + id, method="POST")
              input(type="text",  name="description", id="input-boox" ,placeholder="add your text")
              button(type="submit") add
          ul#listContainer         
           each item in data
                  - id = item.id
                  li=item.description || "No description "
                     form(action="/delet/" + id, method="POST")
                        button(type="submit") x
    script(src="index.js")                 
    
                   
                   
                     


         
    
            





